extends layoutSecond
block header
  script(src='/javascripts/jquery-1.11.3.min.js')
  

  link(rel="stylesheet" href="/javascripts/jQuery-contextMenu/dist/jquery.contextMenu.css" type="text/css" media="screen")
  script(type="text/javascript" src="/javascripts/jQuery-contextMenu/dist/jquery.contextMenu.js")
  script(type="text/javascript" src="/javascripts/jQuery-contextMenu/dist/jquery.ui.position.js")
  link(rel="stylesheet" href="/javascripts/jQuery_fileUpload/jquery-filestyle.css" type="text/css" )
  script(src='/javascripts/jQuery_fileUpload/jquery-filestyle.min.js')
  script(src='/javascripts/client.js')
block content
  div.
  div.nav
    //form(action="/uploadFile", method="post", enctype="multipart/form-data")
      div.upload
        span Choose file
        input(type="file", name="uploaded")
      br
      button(type='submit', class='blue') Upload file
    //div.box
    //form(action="/uploadFile", method="post", enctype="multipart/form-data")
      input#uploaded(type='file', name='uploaded')
      label(for='uploaded') 
        span Choose a file...
      //input.jfilestyle(type='file')
    button(type='submit', class='blue', id='uploadFile') Upload file
    //form(action="/createDir", method="get")
    button(type='button', class='blue', id="newDir") Create Directory
    form(action="/logout", method="post")
      button(type='submit', class='red') Logout 
  br 
  table.currDir
    tr
      //th #{currDir}
      - var finalPath ="";
      -for(i = 0; i<path.length ; i += 2)
        - finalPath += "> <a href='/home/"+path[i+1]+"' class='link'>"+ path[i] + "</a> "
      th !{finalPath}
      //th > Uni > Fall2015 > COMP3203 > Project > Node

  table.mainDir
    tr
      th(class='col1') Name
      th(class='col2') Size
      th(class='col3') Date Uploaded
    -for(i = 0; i<dirs.length ; ++i)
      tr
        td(name=dirs[i].dir_id , type='dir',oldName=dirs[i].dir_name , class='editableDir')
          img(src='/images/dir.png' class="folderICon") 
          span #{dirs[i].dir_name}
          //#{dirs[i].dir_name}
        td --
        td #{dirs[i].time}
    -for(i = 0; i<files.length ; ++i)
      tr
        td(name=files[i].file_id , type='file', oldName=files[i].file_name , class='editableFile')
          img(src='/images/file.png' class="folderICon") 
          span #{files[i].file_name}
        td #{files[i].size}
        td #{files[i].time}
    -if(files.length == 0 && dirs.length == 0)
      tr
        td(colspan=3 ,id='noFiles') No files

    //
      tr
        td File
        td 120KB
        td August 21, 2014
      tr
        td File
        td 120KB
        td August 21, 2014
      tr
        td File
        td 120KB
        td August 21, 2014
